

/* Head */

.navBar {
  font-size: 1.3em;
  padding: 1.5em;
}

.head {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 3.5em;
  margin-left: 9em;
}

.logoIMG {
  width: 2.5em;
  margin-left: 1.7em;
  position: fixed;
  top: 7.5em;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 29px;
}

.subTitle {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}

/* Menu */

.linkMenu {
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 20em;
  margin: 1px;
}

.rotate {
  transform: rotate(180deg);
}

.iconMenu {
  transform: rotate(180deg);
}

/* Ticket List */

.list {
  width: 85vw;
  margin-left: 10em;
  margin-right: 1em;
}

.userName {
  font-size: 20px;
  font-weight: 700;
}

.presentList {
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  margin: 0em;
}

.id {
  display: flex;
  align-items: center;
}

.idList {
  margin-left: 1.9em;
  font-weight: 500;
}

.subInfoID {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  margin: 0em;
}

.ticket {
  display: flex;
  align-items: center;
}

.ticketList {
  margin-left: 1.9em;
  font-weight: 500;
}

.subInfoTicket {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  margin: 0em;
}

.ticketBox {
  min-width: 14em;
  max-width: 14em;
}

.verticalHR {
  border-right: 2.5px solid rgb(232, 232, 232);
  min-width: 14em;
  max-width: 14em;
}

.horizontalHR {
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1.5em;
  padding: 0;
}

/* More Info */

.headInfo {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: 13em auto auto;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.moreInfoSubTitle {
  color: #808080;
  font-weight: 400;
  font-size: 17px;
  margin: 0em;
}

.userNameInfo {
  font-size: 20px;
  font-weight: 700;
}

.closeBTN {
  color: #000000;
  position: fixed;
  background-color: transparent;
}

.titleInfo{

font-weight: 500;

}